/* normalize */
*, *::after, *::before{margin:0;padding:0;box-sizing:border-box}

/* Переменный */
:root {
	/* color norm */
	--bag: #F4F5F9;
	--tr: transparent;
	--red: #B90000;

	/* color white  */
	--wh: #fff;
	--wh1: rgba(255,255,255,.1);
	--wh2: rgba(255,255,255,.2);
	--wh3: rgba(255,255,255,.3);
	--wh4: rgba(255,255,255,.4);
	--wh5: rgba(255,255,255,.5);
	--wh6: rgba(255,255,255,.6);
	--wh7: rgba(255,255,255,.7);
	--wh8: rgba(255,255,255,.8);
	--wh9: rgba(255,255,255,.9);
	/* color black */
	--bl: #222222;
	--bl1: rgba(34,34,34,.1);
	--bl2: rgba(34,34,34,.2);
	--bl3: rgba(34,34,34,.3);
	--bl4: rgba(34,34,34,.4);
	--bl5: rgba(34,34,34,.5);
	--bl6: rgba(34,34,34,.6);
	--bl7: rgba(34,34,34,.7);
	--bl8: rgba(34,34,34,.8);
	--bl9: rgba(34,34,34,.9);
	/* color grey */
	--gr: #888888;
	--gr1: rgba(136,136,136,.1);
	--gr2: rgba(136,136,136,.2);
	--gr3: rgba(136,136,136,.3);
	--gr4: rgba(136,136,136,.4);
	--gr5: rgba(136,136,136,.5);
	--gr6: rgba(136,136,136,.6);
	--gr7: rgba(136,136,136,.7);
	--gr8: rgba(136,136,136,.8);
	--gr9: rgba(136,136,136,.9);
	/* color #1 */
	--cl: #267ed0;
	--cl1: rgba(38,126,208,.1);
	--cl2: rgba(38,126,208,.2);
	--cl3: rgba(38,126,208,.3);
	--cl4: rgba(38,126,208,.4);
	--cl5: rgba(38,126,208,.5);
	--cl6: rgba(38,126,208,.6);
	--cl7: rgba(38,126,208,.7);
	--cl8: rgba(38,126,208,.8);
	--cl9: rgba(38,126,208,.9);
	/* color #2 */
	--cm: rgb(238,108,0);
	--cm1: rgba(238,108,0,.1);
	--cm2: rgba(238,108,0,.2);
	--cm3: rgba(238,108,0,.3);
	--cm4: rgba(238,108,0,.4);
	--cm5: rgba(238,108,0,.5);
	--cm6: rgba(238,108,0,.6);
	--cm7: rgba(238,108,0,.7);
	--cm8: rgba(238,108,0,.8);
	--cm9: rgba(238,108,0,.9);


	/* box-shodow */
	--bx1: 0 0 10px -2px var(--bl1);
	--bx2: 0 0 10px -2px var(--bl2);
	--bx3: 0 0 10px -2px var(--bl3);
	--bx4: 0 0 10px -2px var(--bl4);
	--bx5: 0 0 10px -2px var(--bl5);
	--bx6: 0 0 10px -2px var(--bl6);
	--bx7: 0 0 10px -2px var(--bl7);
	--bx8: 0 0 10px -2px var(--bl8);
	--bx9: 0 0 10px -2px var(--bl9);
	/* box-shodow top */
	--bx_t1: 0 -4px 10px -4px var(--bl1);
	--bx_t2: 0 -4px 10px -4px var(--bl2);
	--bx_t3: 0 -4px 10px -4px var(--bl3);
	--bx_t4: 0 -4px 10px -4px var(--bl4);
	--bx_t5: 0 -4px 10px -4px var(--bl5);
	--bx_t6: 0 -4px 10px -4px var(--bl6);
	--bx_t7: 0 -4px 10px -4px var(--bl7);
	--bx_t8: 0 -4px 10px -4px var(--bl8);
	--bx_t9: 0 -4px 10px -4px var(--bl9);
	/* box-shodow bottom */
	--bx_b1: 0 4px 10px -4px var(--bl1);
	--bx_b2: 0 4px 10px -4px var(--bl2);
	--bx_b3: 0 4px 10px -4px var(--bl3);
	--bx_b4: 0 4px 10px -4px var(--bl4);
	--bx_b5: 0 4px 10px -4px var(--bl5);
	--bx_b6: 0 4px 10px -4px var(--bl6);
	--bx_b7: 0 4px 10px -4px var(--bl7);
	--bx_b8: 0 4px 10px -4px var(--bl8);
	--bx_b9: 0 4px 10px -4px var(--bl9);


	/* white box-shodow */
	--bxw1: 0 0 10px -2px var(--wh1);
	--bxw2: 0 0 10px -2px var(--wh2);
	--bxw3: 0 0 10px -2px var(--wh3);
	--bxw4: 0 0 10px -2px var(--wh4);
	--bxw5: 0 0 10px -2px var(--wh5);
	--bxw6: 0 0 10px -2px var(--wh6);
	--bxw7: 0 0 10px -2px var(--wh7);
	--bxw8: 0 0 10px -2px var(--wh8);
	--bxw9: 0 0 10px -2px var(--wh9);
	/* white box-shodow_t */
	--bxw_t1: 1px -4px 10px -4px var(--wh1);
	--bxw_t2: 1px -4px 10px -4px var(--wh2);
	--bxw_t3: 1px -4px 10px -4px var(--wh3);
	--bxw_t4: 1px -4px 10px -4px var(--wh4);
	--bxw_t5: 1px -4px 10px -4px var(--wh5);
	--bxw_t6: 1px -4px 10px -4px var(--wh6);
	--bxw_t7: 1px -4px 10px -4px var(--wh7);
	--bxw_t8: 1px -4px 10px -4px var(--wh8);
	--bxw_t9: 1px -4px 10px -4px var(--wh9);
	/* white box-shodow_b */
	--bxw_b1: 1px 4px 10px -4px var(--wh1);
	--bxw_b2: 1px 4px 10px -4px var(--wh2);
	--bxw_b3: 1px 4px 10px -4px var(--wh3);
	--bxw_b4: 1px 4px 10px -4px var(--wh4);
	--bxw_b5: 1px 4px 10px -4px var(--wh5);
	--bxw_b6: 1px 4px 10px -4px var(--wh6);
	--bxw_b7: 1px 4px 10px -4px var(--wh7);
	--bxw_b8: 1px 4px 10px -4px var(--wh8);
	--bxw_b9: 1px 4px 10px -4px var(--wh9);


	/* text-shodow */
	--tx1: 1px 4px 10px var(--bl1);
	--tx2: 1px 4px 10px var(--bl2);
	--tx3: 1px 4px 10px var(--bl3);
	--tx4: 1px 4px 10px var(--bl4);
	--tx5: 1px 4px 10px var(--bl5);
	--tx6: 1px 4px 10px var(--bl6);
	--tx7: 1px 4px 10px var(--bl7);
	--tx8: 1px 4px 10px var(--bl8);
	--tx9: 1px 4px 10px var(--bl9);
	/* text-shodow white */
	--txw1: 1px 4px 10px var(--wh1);
	--txw2: 1px 4px 10px var(--wh2);
	--txw3: 1px 4px 10px var(--wh3);
	--txw4: 1px 4px 10px var(--wh4);
	--txw5: 1px 4px 10px var(--wh5);
	--txw6: 1px 4px 10px var(--wh6);
	--txw7: 1px 4px 10px var(--wh7);
	--txw8: 1px 4px 10px var(--wh8);
	--txw9: 1px 4px 10px var(--wh9);


	--tm: .5s;
}

/* html - body */
html{}
html, body{
	min-width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	position: relative;
}
body{
	background: var(--bag);
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: var(--bl);
}
::-webkit-scrollbar{
	width:7px;
	height:7px;
	background: var(--tr);
}
::-webkit-scrollbar-button{
	display: none;
}
::-webkit-scrollbar-thumb{
	background: var(--cl);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--bl);
}
::-webkit-scrollbar-track{
	background: var(--tr);
}
::-webkit-scrollbar-track-piece{
	background: var(--tr);
}
@media (max-width: 780px) {
	::-webkit-scrollbar{
		display: none;
	}
}

.ovr_h{overflow: hidden; height: 100vh;}







/* css tag */
input, textarea{
	outline: none;
	border: 1px solid var(--tr);
	height: 44px;
	border-radius: 10px;
}
::-moz-placeholder{color: var(--gr)}
::-webkit-input-placeholder{ color: var(--gr)}
::-ms-input-placeholder{color: var(--gr)}
::placeholder{color: var(--gr)}

a{
	text-decoration: none;
	color: var(--bl);	
}
a:focus{
	outline: 1px auto var(--bl);
}

ul, li{list-style: none;}

/* text */
h1{font-size:42px;}
h2{font-size:38px;}
h3{font-size:32px;}
h4{font-size:28px;}
h5{font-size:24px;}
h6{font-size:18px;}
p{font-size:16px;}

/* css classes */
.f_l{float:left}
.f_r{float:right}

.posr{position: relative;}

.dsp_n{display:none !important;}
.dsp_b{display:block !important;}

.mb_10{margin-bottom:10px !important;}

.mt_10{margin-top: 10px !important;}

.bx_none{box-shadow: none !important;}

.txt_c{text-align: center;padding: 0 !important;}
.txt_r{text-align: right;padding: 0 !important;}

.fw_7{font-weight: 700}

.c_red{color: var(--red) !important}
.c_cl{color: var(--cl) !important}
.c_bl{color: var(--bl) !important}
.c_wh{color: var(--wh) !important}
.c_gr{color: var(--gr) !important}











/* block_center */
.bl_c{
	width: calc(100% - 30px);
	display: flow-root;
	position: relative;
	margin: auto;
	max-width: 1200px;
	z-index: 11;
}

/*  */
.head_c{
	width: 100%;
	padding: 80px 0;
	padding-bottom: 50px;
}









.form_mn{}
.form_c{
	margin: 5px 0;
	position: relative;
	width: 100%;
	display: flow-root;
	transition: .3s;
}
.form_mn .form_c{
	margin-top: 0;
	margin-bottom: 20px;
}
.form_mn .form_c:last-child{
	margin-bottom: 0;
}
@media (max-width: 480px) {
	.form_c{
		margin-top: 0;
		margin-bottom: 20px;
	}
	.form_c:last-child{
		margin-bottom: 0;
	}
}


.form_c input{
	width: 100%;
   	font-size: 16px;
   	font-weight: 500;
   	transition: var(--tm);
   	padding: 17px 60px;
   	border-radius: 10px;
   	user-select: none;

   	border: 1px solid var(--cl);
	background: var(--tr);
	color: var(--cl);
	box-shadow: var(--bx_b2), var(--bx_b4) inset;
	position: relative;
	z-index: 3;
}
.form_icon{
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 18px;
	display: flex;
	align-items: center;
	background: var(--cl1);
	border-radius: 10px 50% 50% 10px;
	color: var(--cl);
	font-size: 20px;
}
.form_prv_n, .form_prv_y{
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 18px;
	display: flex;
	align-items: center;
	color: var(--red);
	font-size: 20px;
	opacity: 0;
}
.form_prv_y{
	color: var(--cl);
}
.form_pr_n .form_prv_n, .form_pr_y .form_prv_y{
	opacity: 1;
}
.form_pr_n .form_prv_n{
	animation: ta_da .5s;
}

@keyframes ta_da{
	0%, 25%, 50%, 75%, 100%{
		transform: translateX(0);
	}
	12.5%, 37.5%, 62.5%, 87.5%{
		transform: translateX(-5px);
	}
}



.form_prv_nm{
	position: absolute;
	right: 0;
	bottom: 0;
	height: 0;

	display: flex;
	align-items: center;
	padding: 0 12px;
	background: var(--cl1);
	font-size: 0;

	border-bottom-right-radius: 14px;
	border-bottom-left-radius: 12px;

	transition: .3s;
}
.form_prv_nm svg{
	position: absolute;
	right: 0;
	top: -14px;
	width: 0;
	height: 14px;
	transition: .3s;
}
.form_prv_nm .svg_ftg{
	fill: var(--cl1);
}

.form_pr_nm .form_prv_nm{
	height: 30px;
	bottom: -30px;
	font-size: 12px;
}

.form_pr_nm .form_prv_nm svg{
	width: 14px;
}


.form_mn .form_pr_nm{
	margin-bottom: 38px;
}
.form_mn .form_pr_nm:last-child{
	margin-bottom: 18px;
}

@media (max-width: 480px) {
	.form_pr_nm{
		margin-bottom: 38px;
	}
	.form_pr_nm:last-child{
		margin-bottom: 18px;
	}
}








/*  */
.offer{
	position: relative;
}
.offer h3{
	font-weight: 600;
}
.offer b{
	font-weight: 900;
	color: var(--cl);
}
.offer span{
	color: var(--cl);
}
.disc{
	margin-top: 30px;
}












/* кнопки */
.btn{
	position: relative;
	padding: 0 28px;
	height: 54px;
	border-radius: 14px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	transition: var(--tm);

	display: inline-flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	border: 1px solid var(--cl);
	background: var(--cl);
	color: var(--wh);
	box-shadow: var(--bx_b2);

	user-select: none;
	outline: none;
}
.btn:hover{
	background: var(--cl8);
	border-color: var(--cl8);
}



/*  */
.btn i:first-child{
	margin-right: 15px;
}
.btn i:last-child{
	margin-left: 15px;
}















/* data-title */
[data-title] {
   position: relative;
}
[data-title]::after {
	content: attr(data-title);
	position: absolute;
	font-size: 14px;
	padding: 5px 12.5px;
	border-radius: 10px;
	bottom: -10px;
	right: 100%;
	white-space: nowrap;
	background: var(--wh);
	color: var(--gr);
	box-shadow: var(--bx2);
	opacity: 0;
	z-index: 99999;
	visibility: hidden;
	transition: var(--tm);
}
[data-title]:hover::after {
	opacity: 1;
	visibility: visible;
}
@media(max-width:768px){[data-title]::after{display:none;}}











/*  */
.bl_mess{
	position: fixed;
	width: 100%;
	top: -260px;
	left: 0;
	z-index: 910;
	opacity: 0;
	transition: .5s;

	display: flex;
	justify-content: center;
}
.bl_mess_zak{
	top: 0;
	opacity: 1;
}


.bl_mess_sam{
	margin-top: 20px;
	min-width: 240px;
	padding: 20px;
	background: var(--wh);
	box-shadow: var(--bx5);

	border-radius: 10px;
}


.preloader_mess{
	position: relative;
	height: 60px;
	display: flex;
	align-items: center;
}
.ms_circle{
	position: relative;
	width: 60px;
	height: 60px;
	margin-right: 20px;
	background: var(--cl);
	border-radius: 50%;
	animation: white-shadow 1s infinite;
	color: var(--wh);
	font-size: 34px;

	display: flex;
	justify-content: center;
	align-items: center;
}
@keyframes white-shadow {
	0% {
		box-shadow: 0 0 0 0 var(--gr7);
		transition: box-shadow 0.3s ease-in-out;
	}
	100% {
		box-shadow: 0 0 0 30px transparent;
		transform: translate3d(0, 0, 0);
		transition: box-shadow 0.4s ease-in-out;
	}
}
.ms_text{
	color: var(--cl);
	text-align: center;
}
















/*  */
.modal_cn{
	width: 100%;
	height: calc(100vh);
	position: fixed;
	top: -70px;
	left: 0;
	z-index: 9999;
	padding-bottom: 70px;
	transform: translateY(70px);
	transition: background var(--tm);
	-webkit-overflow-scrolling: touch;
}
.modal_bl{
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	background: var(--bag);
	background-size: cover;
	transition: var(--tm);
	opacity: 0;
}

.modal_con{
	position: relative;
	width: calc(100% - 30px);
	margin: auto;
	z-index: 2;
	padding: 15px;
	max-width: 1170px;
	opacity: 0;
}

.modal_head{
	width: 100%;
	position: relative;
	padding-top: 5px;
	padding-bottom: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal_foot{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	position: relative;
	padding: 15px 0 0 0;
}







/*  */
.form_cn{
	width: 100%;
	position: relative;
	margin-bottom: 15px;
	transition: var(--tm);
}
.form_cn:last-child{
	margin-bottom: 0;
}
.form_cn input{
	background: var(--wh);
	width: 100%;
	padding-left: 50px;
	padding-right: 10px;
	position: relative;
	z-index: 4;
	font-size: 16px;
	font-weight: 500;
}
.form_cn button{
	width: 100%;
}
.form_ic{
	top: 0;
	position: absolute;
	height: 100%;
	display: flex;
	align-items: center;
	left: 20px;
	color: var(--gr);
	transition: var(--tm);
	z-index: 5;
	font-weight: 500;
}
.form_act .form_ic{
	color: var(--bl);
}

.form_regui{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 3;
	padding: 0 15px;
	height: 25px;
	padding-bottom: 10px;
	font-size: 13.4px;
	background: var(--wh);
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;

	display: flex;
	align-items: center;
	color: var(--red);
	transition: var(--tm);
}
.form_pust{
	margin-bottom: 35px !important;
}
.form_pust input{
	border-bottom-right-radius: 0;
}
.form_pust .form_regui{
	bottom: -25px; 
}



.form_cn_code{
	width: 100%;
	height: 64px;
	display: flex;
	justify-content: center;
}
.form_cn_code input{
	width: 64px;
	height: 64px;
	padding: 0;
	margin: 0;
	margin-left: 10px;
	text-align: center;
	font-size: 24px;
}
.form_cn_code input:first-child{
	margin-left: 0;
}





.form_cn_ps{
	display: flex;
	justify-content: flex-end;
	margin-top: 30px;
	cursor: pointer;
}
.form_cn_ps p{
	font-size: 16px;
	font-weight: 700;
}






.form_btn{
	margin-top: 30px;
}



.form_cn_ch{
	display: flex;
	font-size: 14px;
}
.form_cn_ch input{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	margin-right: 10px;
}
.form_cn_ch span{
	color: var(--red);
}





.form_btn_flex {
	display: flex;
	justify-content: space-between;
}

.form_btn_flex .btn{
	width: 44px;
	padding: 0;
}

.form_btn_flex .btn:last-child{
	width: calc(100% - 54px);
}


.form_sms{
	font-size: 16px;
	font-weight: 600;
	color: var(--red);
}